---
# Update RHEL based systems
- name: Update the system (Redhat)
  dnf:
    name: '*'
    update_cache: true
    state: latest
  when: ansible_os_family == 'RedHat'

# Install packages for RHEL based systems
- name: Install useful tools (Redhat)
  dnf:
    name: "{{ item }}"
    state: latest
  loop: "{{ system_packages }}"
  when: ansible_os_family == 'RedHat'